global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    static_configs:
      - targets: ['localhost:9100']

  - job_name: 'python-app'
    static_configs:
      - targets: ['192.168.1.150:5001']  # <-- Replace with your VM IP if different
